.*
*.py[cod]
# *.jpg
*.jpeg
# *.png
*.gif
*.bmp
*.mp4
*.webm
*.npy
*.mov
*.mkv
*.log
*.zip
*.pt
*.pth
*.ckpt
*.safetensors
#*.json
# *.txt
*.backup
*.pkl
*.html
*.pdf
*.whl
*.exe
loras
ckpts
outputs
cache
__pycache__/
storage/
samples/
!.gitignore
!.github/
!requirements.txt
.DS_Store
*DS_Store
google/
finetunes/
outputs/
outputs2/
gradio_outputs/
ckpts/
loras/
loras_i2v/

settings/
!shared/deepy/settings/
!shared/deepy/settings/**

wgp_config.json
plugins_local.json
loras_url_cache.json
wheels/

Light*
